@white: #ffffff;
@desktop: ~"only screen and (min-width:600px)";

.createSection{
    width: 290px;
    height: 500px;
    border: 1px solid @white;
    background-color: rgba(255,255,255,0.95);
    border-radius: 4px;
    
    @media @desktop{
        width: 90%;
        height: 55rem;
        margin: auto;

    }
    .createDescription{
        margin-top:64px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap:5px;
        h4{  
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
        .writeSignature{
            color: #6f6f6f;
        }
        .getSignature{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    canvas{
        height: 320px;
        width: 100%;
        border:1px solid #6f6f6f;
    }
}
    