@background-color: #f8eaa3;
@black: #000000;
@white: #ffffff;
@btnBackground: #cb9b0c;
@desktop: ~"only screen and (min-width:600px)";
.stepSection{
    // border: 1px solid #fff;
    height: 100px;
    .stepLabel{
        svg{
            color: @background-color;
            .css-117w1su-MuiStepIcon-text{
                fill: @black;
            }
        }
    }
    // .stepContent{
    //     // border: 1px solid #000000;
    // }

}
.btnSection{
    display:flex;
    width: 100%;
    justify-content: flex-end;
    gap:10px;
    position: absolute;
    bottom: 1%;
    right: 10%;
    @media @desktop{
        bottom: 1%;
        right: 4%;
    }
    .nextBtn{
        width: 81px;
        height: 33px;
        border-radius: 4px;
        background-color: @background-color;
        color: @black;
        &:hover{
            background-color: @btnBackground;
            color: @white;
        }
        @media @desktop{
            width: 306px;
            height: 51px;
        }
    }
    .backBtn{
        width: 81px;
        height: 33px;
        border-radius: 4px;
        border: 1px solid @background-color;
        color: @background-color;
        &:hover{
            background-color: @btnBackground;
            color: @white;
        }
        @media @desktop{
            width: 306px;
            height: 51px;
        }
    }
}